body {
    background-color: lightgreen;
}

.card {
    background-color:lightblue;
    border: 3px solid darkblue;
    border-radius: 10px;
    margin: 4px;
    width: 200px;
}
.card-content{
    margin:5px;
}
.delete-button{
    border-radius: 10px;
    background-color:slategray;
    color:white;
}